@mixin afterBar($height, $distance) {
  position: relative;
  &::after {
    content: "";
    background-color: black;
    width: 100%;
    height: $height;
    position: absolute;
    left: 0;
    bottom: $distance;
  }
}
