$menuMargin: 50px;



.nav__menu {
  background-color: $accent1;
  padding: 5px;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      &:not(first-of-type){
        margin-left: 15px;
      }
      &.current-menu-item {
        color: $white;
        background-color: $black;
      }
    }
  }
}

.nav__header {
  margin-bottom: $menuMargin;
}

.nav__footer {
  margin-top: $menuMargin;
}

.menu-item, .page_item {
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $white;
    background-color: $black;
  }
}
