$menuMargin: 25px;

.nav__menu {
  background-color: $accent1;
  padding: 5px;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    li {
      display: flex;
      &:not(:first-child){
        margin-left: 15px;
      }
      &.current-menu-item {
        color: $light;
        background-color: $dark;
      }
    }
  }
}

.nav__header {
  margin-bottom: $menuMargin;
}

.nav__footer {
  margin-top: $menuMargin;
}

.nav-menu {

}

.menu-item, .page_item {
  padding: 5px;
  transition: 0.3s;
  &:hover {
    color: $light;
    background-color: $dark;
  }
}

.menu {
  @media (min-width: 992px) {
    float: right;
  }
}

footer .menu {
  @media (min-width: 992px) {
    float: left;
  }
}

.menu-item a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }


.footer__info {
  margin-top: 0.2*$menuMargin;
  padding-left: 0.1*$menuMargin;
}
