.page__post-title-row {
  margin: 20px 0;
}

.page__post-title {
  // padding: 15px;
  display: inline;
  position: relative;
  margin-top: 3rem;
  &::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    bottom: -0.1em;
  }
}

.page__post-content {
  margin-top: 5rem;
  img {
    display: block;
    max-width: 92%;
    &.alignleft {
      float: left;
      margin-top: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      margin-left: 0;
    }
    &.alignnone, &.aligncenter {
      margin: 25px auto;
    }
    &.alignleft {
      float: right;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }
  blockquote {
    margin: 15px auto;
    max-width: 80%;
    padding: 10px;
    background-color: lighten($background2, 10%);
    border-left-color: $accent1;
    position: relative;
    &:before{
      content: "\f10e";
      font-family: FontAwesome;
      position: absolute;
      left: -45px;
      bottom: 0;
      font-size: 3rem;
      color: lightgray;
    }
  }
}
