$font-text: 'Roboto', sans-serif;
$font-title: 'Oswald', sans-serif;



* {
  font-size: 15px;
}

body {
  font-family: $font-text;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
}

.header__heading {
  font-size: 4rem;
  font-weight: 800;
  a{
    @include afterBar(0.25em);
  }
}

.header__motto {
  font-family: $font-text;
  font-weight: 900;
}


.main__post p {
  font-family: $font-text;
  line-height: 1.7em;
}

.main__post-title {
  font-family: $font-title;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  a {
    @include afterBar(1px);
  }
}

.nav__menu {
  font-family: $font-title;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.4rem;
}
